html {
}

body {
    font-size: 100%;
    overflow: hidden;
}

/* pg-header styles */
pg-header h1 {
    color: #444444;
    line-height: 60px;
    font-family: Montserrat;
    font-weight: 700;
    font-style: normal;
    margin-top: 30px;
}

pg-header h2 {
    font-size: 14px;
    color: #444444;
    line-height: 26px;
    font-family: Raleway;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 30px;
}

pg-header .nav-wrapper {
    background-color: #444444;
    padding: 0;
    margin: 0;
}

pg-header .navigation {
    font-family: Raleway;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.8em;
    color: rgba(255, 255, 255, 0.8);
    background-color: #444444;
    padding: 0;
}

pg-header .navigation ul {
    margin: 0;
    padding: 0;
}

pg-header .navigation ul li {
    border-bottom: 4px solid #444444;
    border-top: 4px solid #444444;
    margin: 0;
    padding: 12px 0;
    text-decoration: none;
    list-style: none;
    float: left;
}

pg-header .navigation ul li {
    cursor: pointer;
    transition: color .4s ease-out;
}

pg-header .navigation ul li:hover {
    color: #1bc09f;
    transition: color .4s ease-in;
}

.active {
    color: #1bc09f;
    border-bottom: #1bc09f solid 4px !important;
    transition: border-color .3s ease-in-out !important;
    transition: color .4s ease-in-out;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 320px) {
    pg-header h1 {
        font-size: 10vw;
        line-height: 30px;
    }
}

@media only screen and (min-width: 480px) {
    pg-header h1 {
        font-size: 10vw;
        line-height: 60px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    pg-header h1 {
        font-size: 7vw;
        line-height: 70px;
    }
}

@media only screen and (min-width: 1200px) {
    pg-header h1 {
        font-size: 6vw;
        line-height: 90px;
    }
}

/* pg-header styles end */


